VITE_SUPABASE_URL=https://jvgjuxzvnkautdxnesdn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2Z2p1eHp2bmthdXRkeG5lc2RuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2MDkwNjQsImV4cCI6MjA5OTE4NTA2NH0.B2zZXSG3otFbgDQ58bn1XAV5GezI0sYTzUdayfembxw
VITE_API_URL=http://localhost:5000